@font-face {
  font-family: 'tt_norms_probold';
  src: url('typetype_-_tt_norms_pro_bold-webfont.woff2') format('woff2'),
       url('typetype_-_tt_norms_pro_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tt_norms_proitalic';
  src: url('typetype_-_tt_norms_pro_italic-webfont.woff2') format('woff2'),
       url('typetype_-_tt_norms_pro_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tt_norms_prolight';
  src: url('typetype_-_tt_norms_pro_light-webfont.woff2') format('woff2'),
       url('typetype_-_tt_norms_pro_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tt_norms_proitalic';
  src: url('tt_norms_pro_italic-webfont.woff2') format('woff2'),
       url('tt_norms_pro_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 20px;
  font-family: 
}

.dropdown, .dropdown-menu{
  text-align: center;
}

.dropdown-toggle {
  margin: 0 auto;
}

.questiondiv {
  margin-top: 60px;
  text-align: center;
}

.header1{
  font-size: 20px;
}

.buzzbutton {
  padding: 10px 10px !important;
  border-radius: 100px;
  min-width: 130px;
  border: none;
  vertical-align: middle;
  margin-top: 40px;
  box-shadow: 0px 0px 10px #d1d1d1;
}

#yellowbtn {
  background-color: #ffdb00;
  color: black;
  width: 40%;
}

#blackbtn {
  background-color: black;
  color: white;
  width: 40%;
}

h3 {
  font-size: 16px;
  margin-bottom: 0px !important;
  margin: 0px !important;
}

.tabitem {
  padding: 20px; 
}
a:active {
  background-color: yellow;
}

