
.header-start {
    font-size: 20px;
}

.player-btn {
    background-image: url("/assets/img/background-playerbtn.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 30px 40px 20px;
    text-align: right;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    border-radius: 35px;
    display: block;
    width: 300px;
    font-family: TTnorms-Regular, "sans-serif";
    box-shadow: 4px 4px 8px #616060;
 
}

.player-btn:hover {
  text-decoration: none;
  color: black;

}