
@import url("//hello.myfonts.net/count/373894");

@font-face {font-family: 'TTNorms-Bold';font-display: auto; src: url('https://assets.buzzbar.co/webfonts/373894_0_0.eot');src: url('https://assets.buzzbar.co/webfonts/373894_0_0.eot?#iefix') format('embedded-opentype'),url('https://assets.buzzbar.co/webfonts/373894_0_0.woff2') format('woff2'),url('https://assets.buzzbar.co/webfonts/373894_0_0.woff') format('woff'),url('https://assets.buzzbar.co/webfonts/373894_0_0.ttf') format('truetype'); }
 
  
@font-face {font-family: 'TTNorms-Regular';font-display: auto; src: url('https://assets.buzzbar.co/webfonts/373894_1_0.eot');src: url('https://assets.buzzbar.co/webfonts/373894_1_0.eot?#iefix') format('embedded-opentype'),url('https://assets.buzzbar.co/webfonts/373894_1_0.woff2') format('woff2'),url('https://assets.buzzbar.co/webfonts/373894_1_0.woff') format('woff'),url('https://assets.buzzbar.co/webfonts/373894_1_0.ttf') format('truetype');}
 


body {
  overflow-x: hidden;
}

.header-start {
    font-size: 30px;
}

.sub-header-start {
  font-size: 26px;
}

.player-btn, .qm-btn {
    background-image: url("/assets/img/background-playerbtn.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 15px 30px 20px;
    text-align: right;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    border-radius: 35px;
    display: block;
    width: 300px;
    font-family: 'TTNorms-Bold';
    font-size: 16px;
    font-weight: bold;
    box-shadow: 4px 4px 8px #616060;
}

.text-center {
  position: relative;
  padding: 20px;
  z-index: 9999 !important;
  font-family: 'TTNorms-Bold';
}

.buttons-select {
  position: relative; 
  z-index: 999 !important;
  
}


.player-btn:hover, .qm-btn:hover {
  position: relative;
  text-decoration: none;
  color: black;
  z-index: 999;

}

.small-sub {
  font-size: 10px;
  font-family: 'TTNorms-Regular';
}
   
.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index: -1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  border-radius: 9999px;
  background-color: #FFDD00;
  -webkit-animation: circles 20s infinite;
  animation: circles 20s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
  width: 80px;
  height: 80px;
  top: 300px;
  left: 10%;
}
.bubbles li:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 35%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

.bubbles li:nth-child(3) {
  width: 110px;
  height: 110px;
  top: 600px;
  left: 65%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}

.bubbles li:nth-child(4) {
  width: 40px;
  height: 40px;
  top: 100px;
  left: 80%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
}

.bubbles li:nth-child(5) {
  width: 20px;
  height: 20px;
  left: 60%;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

.bubbles li:nth-child(6) {
  width: 60px;
  height: 60px;
  left: 30%;
  top: 20%;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

.bubbles li:nth-child(7) {
  width: 30px;
  height: 30px;
  left: 10%;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

.bubbles li:nth-child(8) {
  width: 30px;
  height: 30px;
  top: 600px;
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}



.bubbles li:nth-child(8) {
  animation: float 14s ease-in-out infinite;
  }

.bubbles li:nth-child(7) {
  animation: float2 10s ease-in-out infinite;
  }

.bubbles li:nth-child(6) {
    animation: float 12s ease-in-out infinite;
    }

.bubbles li:nth-child(5) {
animation: float 16s ease-in-out infinite;
}
.bubbles li:nth-child(4) {
animation: float 12s ease-in-out infinite;
}
.bubbles li:nth-child(3) {
animation: float2 14s ease-in-out infinite;
}

.bubbles li:nth-child(2) {
animation: float 10s ease-in-out infinite;
}

.bubbles li:nth-child(1) {
animation: float2 16s ease-in-out infinite;
}



@keyframes float {
0% {
  transform: translatey(-45px);
}
50% {
  transform: translatey(75px);
}
100% {
  transform: translatey(-45px);
}
}


@keyframes float2 {
0% {
  transform: translatey(45px);
}
50% {
  transform: translatey(-45px);
}
100% {
  transform: translatey(45px);
}
}
